// scss-docs-start color-variables
$primary:  #605EA1 !default;
$secondary: #408080 !default;
$danger: #ab1414 !default;
$black: #000000 !default;
$grey: #ECECEC !default;
$light-grey: #F5F5F5 !default;
$white: #ffffff !default;
$label: #9D9D9D !default;
$light: #ffffff !default;

$enable-cssgrid: true;